
@import 'https://fonts.googleapis.com/css?family=Heebo:400,700&subset=hebrew';
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);



.App {
  text-align: center;
 
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* The navbar */
.topnav {
    overflow: hidden;
    background: #0C193D;
}
a{
  width: 150px;
}
/* Navbar links */
.topnav a {

    float:right;
    color: #FFFFFF;
    text-align: center;
    padding: 1% 0%;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
 
    
}

.topnav a:hover {
    background-color: 18347E;
    color: #ED2230;
}
/* התמונה בנוובר */
yimg{

  position: absolute;
  width: 213px;
  height: 181px;
  left: 12px;
  top: 9px;
  
  /* background: url(imagelog.png); */
}






.topnav img {
  position: absolute;
  width: 213px;
  height: 181px;
  left: 12px;
  top: 9px;
  

}
/* .underLine{

  position: absolute;
  width: 100%;
  bottom: 0;
  top: 100%;
  height: 10%;
  background: #0C193D;
  
} */