
h1{
    text-align: center;
    font-weight: bold;
    font-size:80px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7c9feb;
}

.shabos
{
    /* text-align: right; */
    margin-right: 40px;
    font-size: 25px;
   line-height: 1.4;
    direction: rtl;
}
.sub
{
    /* float: right; */
text-align: center;
    /* margin-right: 160px; */
    background-color: #7c9feb;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    position: absolute;
    display: none;
    min-width: 106px;
}
.dropdown-content a{
    padding: 12px 16px;
    display: block;
    min-width: 106px;
    font-size: 16p;
    text-decoration: none;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
   }
   
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
