.title_about , .sub_title{
    font-size: 40px;
    color: crimson;
    font-weight: bold;
    text-align: center;
}
/* div{
    text-align: right;
    margin: 20px;
    margin-right: 50px;
    font-size: 20px;
}
 */

/* /* .container{
    position: absolute;
    top: 10%;
    left: 23%;
    width: 50%;
  } */
    
  /* .text{
    display: inline;
    width: 100%;
  }
    
  .read-or-hide{
    color: rgb(192,192,192);
    cursor: pointer;
  }  */