
.m_h1{
    font-family: 'Heebo';
font-style: normal;
font-size: 2pc;
line-height: 71px;
color: #213A78;
}

.m_pink_h2{
    font-family: 'Heebo';
    font-style: normal;
    /* font-weight: 500; */
    font-size: 1.7pc;
    line-height: 71px;
    color: #ED2230;
  
}

.m_h4{
     
    font-family: 'Heebo';
    font-style: normal;
    font-size: 1.4pc;
    /* line-height: 44px; */
    color: #223A78;
}
.size_of_img{
    width: 479.41px;

}
.icon_size{
    margin-right: 2pc;
    width: 51px;
    height: 51px;
}
.y_under_Line_contact{
    height: 8pc;
    background: #0C193D;
    bottom: 0;
    width: 100%;
}









