/* התרומה שלך תוסיף להם שמחה*/
.sec_title{
    font-size: 50px;  
    margin-right: -30px;
    color: rgb(255, 0, 0);
    font-weight: bold;
}
/* אולי להוסיף קלאסניימ למשפט הראשון שלא יהיה בעיות */
ul{
    display: inline-block;
    list-style: none; 
    margin-top: 30px;
   
}
body ul:nth-child(2){
    font-size: 35px;
}
li{ 
    color: #0C193D;
    font-weight: bold;
} 

/* אפשרויות לתרומה */
.subtitle_don{
    font-size: 22px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color: #0C193D;
    /* color: rgb(6, 6, 73); */
}

/* כיתוב מעל העיגולים */
.optionDon{
    color:#0C193D;
    font-weight: bold;
    font-size: 18px;
}
.bitDon{
    position: absolute;
    left: 70.4%;
    right: 5.42%;
    top: 46.22%;
    bottom: 51.04%;
}
.bankDon{
    position: absolute;
    left: 52.4%;
    right: 30.42%;
    top: 46.22%;
    bottom: 51.04%; 
}
.cardDon{
    position: absolute;
    left: 32.15%;
    right: 47.99%;
    top: 46.22%;
    bottom: 51.04%;
}
.kevaDon{
    position: absolute;
    left: 15%;
    right: 70%;
    top: 46.22%;
    bottom: 51.04%;  
}

/* העיגולים הצהובים */
.imgDonation1{
position: absolute;
    left: 76%;
    right: 2.42%;
    top: 56.22%;
    bottom: 48.04%;
    width: 200px;
    height: 200px;
}
.imgDonation2{
    position: absolute;
    left: 55%;
    right: 21.42%;
    top: 56.22%;
    bottom: 48.04%;
    width: 200px;
    height: 200px;
}
.imgDonation3{
    position: absolute;
    left: 36%;
    right: 47.99%;
    top: 56.22%;
    bottom: 48.04%;
    width: 200px;
    height: 200px;
}
.imgDonation4{
    position: absolute;
    left: 15%;
    right: 70%;
    top: 56.22%;
    bottom: 48.04%; 
    width: 200px;
    height: 200px;
}

/* כיתוב בתוך העיגולים */
.textIn1{
    position: absolute;
    left: 72%;
    right: 6%;
    top: 62%;
    bottom: 48.04%;
    font-size: 21px;
    font-weight: bold;
    /* color: rgb(6, 6, 73); */
}
.textIn3{
    position: absolute;
    left: 40%; 
    right: 53.16%;     
    top: 62%;
    bottom: 48.04%;
    font-size: 21px;
    font-weight: bold;

}
.textIn4{
    position: absolute;
    left: 16.5%; 
    right: 72%;     
    top: 62%;
    bottom: 48.04%;
    font-size: 21px;
    font-weight: bold;
    
}
.textLinkDon{
    text-decoration: none;
    color: black;
}

.under_ruler_don{
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 95%;
    height: 10%;
    background: #0C193D;
}
