

.gallery{
    background-color:rgb(247, 238, 238);
}
.image{
    border-radius: 8px;
    padding: 10px;
    width: 150px;
}
.image:focus{
    background-color: brown;
}
.title{
    background-color:rgb(247, 238, 238);
    font-size: large;
    direction: rtl;
    color: blue;
}
.title:hover {
    background-color: rgb(247, 238, 238);
}
.subTitle{
    background-color:rgb(247, 238, 238)brown;
    font-size: large;
    direction: rtl;
    color: blue;
}
.galleryTable{
    width: 100%;
}
.imgGallery{
    border-radius: 1pc;
}
.titleGallery{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #ED2230;
}
.underLineGallery{
    height: 8pc;
    background: #0C193D;
  
}
.backgallery1{
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right; 
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.788) 80%) ,url("/public/vol.png");
   
}
.backgallery2{
    
    background-repeat: no-repeat;
    background-size: 300pc;
    background-position: right; 
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.788) 80%) ,url("/public/Frame.png");
   
}