

.gallery{
    background-color:rgb(247, 238, 238);
}
.image{
    border-radius: 8px;
    padding: 10px;
    width: 150px;
}
.image:focus{
    background-color: brown;
}
.title{
    background-color:rgb(247, 238, 238);
    font-size: large;
    direction: rtl;
    color: blue;
}
.title:hover {
    background-color: rgb(247, 238, 238);
}
.subTitle{
    background-color:rgb(247, 238, 238)brown;
    font-size: large;
    direction: rtl;
    color: blue;
}
.galleryTable{
    width: 100%;
}
.imgGallery{
    border-radius: 1pc;
}
.titleGallery{
    margin-right: 50pc;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 40px;
    text-align: right;
    color: #ED2230;
}
.underLineGallery{
    height: 8pc;
    background: #0C193D;
  
}