@import 'https://fonts.googleapis.com/css?family=Heebo:400,700&subset=hebrew';
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);


.inacspt2{
  position: absolute;
  width: 644px;
  height: 45px;
  left: 398px;
  top: 500px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 37px;
  line-height: 45px;
  /* identical to box height */
  color: #18347E;
  

}
.cancelbtn{
  position: absolute;
  width: 174px;
  height: 70px;
  left: 687px;
  top: 650px;
  margin-top: 5px;
  border: none;
  background: #18347E;
  border-radius: 34px;
}
/* p{
    font-family: 'Heebo';
  font-size: large;
  

}  */
 img {
  max-width: 100%;
  /* height: auto;
  width: auto\9; */
  /* ie8 */
}
.column {
  float:right;
  
  width: 30%;
  /* padding: 20px; */
}


/* Clearfix (clear floats) */
.row::after {
  /* content: ""; */
  clear: both;
  display: table;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5%;
  margin :auto;
  /* justify-content: center; */
}

.flip-box {
  /* background-color: transparent; */
  width: 300px;
  height: 300px; 
  /* padding: 0%; */
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

  /* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
/* .flip-box-front {
  background-color: #bbb;
  color: black;
} */
/* Style the back side */
.flip-box-back {
  /* background-color: rgb(51, 58, 66); */
  /* color: white; */
  transform: rotateY(180deg);
}
/* זה המילה העשיה שלנו */
.ywedo{
 
  /* position: absolute; */
font-family: 'Heebo';
/* font-style: normal; */
font-weight: 700;
font-size: 24px;
line-height: 35px;
color: #F30000;
text-align: center;
padding: 3%;
padding: 1%;
}
/* למרכז שלוש תמונות אחד ליד השני */
/* Three image containers (use 25% for four, and 50% for two, etc) */

.yimage{
  position:relative;
  
}
.yimagetop{
  /* position:absolute; */

}