@import 'https://fonts.googleapis.com/css?family=Heebo:400,700&subset=hebrew';
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

/*זה התמונות מתחלפות בהתחלה */
.yimagetop{
  width: 100%;
  height: 600px;
  }
img {
  max-width: 100%;
}
/* למרכז את כל התמונות באמצע */
.y_all_center_img{
  max-width: 100%;
 }
 /*  זה לשים שלוש תצמונות אחד ליד השני */
.column {
  width: 33%;
}

.row {
 max-width: 100%;
 padding-left: 17%;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
  display: block;
}

.flip-box {
  width: 100%;
  height: 300px;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility:visible;
  backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */
.flip-box-front {
  border-radius: 25px;

  /* border: 8px solid white; */
}

/* Style the back side */
.flip-box-back {
  
  color:#0C193D;
  transform: rotateY(180deg);
}

/* זה המילה העשיה שלנו */
.ywedo {

  font-family: 'Heebo';
  font-weight: 700;
  font-size: 2pc;
  line-height: 8pc;
  color: #F30000;
  text-align: center;
}
/* זה הקישקוש הירוק */
.yhomeloge {
  position: relative;
  width: 1459.58px;
  height: 274.5px;
  left: 0;
  top: 220%;
  transform: rotate(2.53deg);
}

/* זה הסרגל כלים עם המספרים שעולים ויורדים */
.y_navber_num {
  /* position: absolute; */
  width: 100%;
  top: 250%;
  /* height: 30%; */
  background: #0C193D;
  line-height: 80px;

}

/* הכתב על הסרגל כלים  */
.y_word {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 31px;
  padding: 5.3%;
  color: #FA4D6C;

}

/* זה הסרגל כלים של מספרים עולים  */
.y_nav_num {
  padding: 4%;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 5pc;
  color: #F0F8FF;
}

/* העשיה שלנו */
.y_about {
  
  font-family: 'Heebo';
  font-style: normal;
  font-size: 40px;
  text-align: center;
  color: #223A78;
  font-weight: 500; 
  line-height: 150px; 

}
/* זה הפס הכחול בתחתית העמוד  */
.y_under_Line {

  position: absolute;
  width: 100%;
  background: #0C193D;
  top: 280pc; 
  height: 30%; 

}
.slideshowDots {
  /* margin-top: 25px; */
  text-align: center;
}

.slideshowDot {
  height: 8px;
  width: 8px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideshowDot.active {
  background-color: #356D9C;
}
 
.contact_home{ 
  /* display: flex; */ 
  /* padding: auto; */ 
  text-align:right; 
 
  /* margin-right: 50px; */ 
  margin-top: 5%; 
margin-right: 5%; 
  font-family: 'Heebo'; 
  font-weight: 300; 
  font-size: 1pc; 
  color: white; 
} 

