.title_act{
    font-size: 40px;
    color:#0C193D;
    font-weight: bold;
    text-align: center;
    font-family: 'Heebo';
}
.img_active{
    /* height: 600px; */
    width: 800px;
    margin-bottom: 30px;
}
.under_ruler{
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 370%;
    height: 20%;
    background: #0C193D;
}
/* .img_active1{
    height: 19pc;
    width: 10pc;
} */
/* .img_under_ruler{
    width: 10px;
} */