.ruler {
    /* background-color: rgb(91, 209, 248); */
    display: flex;
    flex-direction: row;
}

/* #logo{
    } */
h3 {
    text-align: right;
    direction: rtl;
    margin: 57px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial;
    font-size: 11px;
    color: #0c0b0b;
    background: #ffffff url(../../img/body_back.jpg) no-repeat top center fixed;
    background-size: cover;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */
}
.help{
     position:relative;
}
.help .but {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
   
    
}
.column {
    float: left;
    width: 27%;
    padding: 3%;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    text-align: center;
    content: "";
    clear: both;
    display: table;
  }